:root {
   box-sizing: border-box;
}

// FONTES
$fonte: 'Roboto', sans-serif;

// CORES
$cor-primaria: #85a592;
$cor-secundaria: #CCD5AE;
$cor-terciaria: #FAEDCD;

// TAMANHO DAS FONTES
$tamanho-do-texto: 3rem;